.bg-black {
    background-color: #000000;
}

.bg-brown {
    background-color: #a52c2c;
}

.bg-red {
    background-color: #ff0000;
}

.bg-orange {
    background-color: #ffa500;
}

.bg-yellow {
    background-color: #ffff00;
}

.bg-green {
    background-color: #00b250;
}

.bg-blue {
    background-color: #0071c2;
}

.bg-violet {
    background-color: #ff00ff;
}

.bg-grey {
    background-color: #717171;
}

.bg-white {
    background-color: #ffffff;
}

.bg-silver {
    background-color: #dadada;
}

.bg-gold {
    background-color: #e2d600;
}

.txt-black {
    color: black !important;
}

.txt-white {
    color: white;
}